<?xml version="1.0" encoding="UTF-8"?>

<Test xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	description="Обработка сообщения с корректными заголовками" name="TS1"
	xsi:noNamespaceSchemaLocation="http://ctt.cinimex.ru/testSettings.xsd">
	<ClearQueue clearMethod="MQGET">
		<Queue objName="TASK3.OUT"></Queue>
		<Queue objName="TASK3.RESP" />
	</ClearQueue>
	<GetTemplate variable="msg" path="Templates/ex3_msg1_withheaders.xml" />
	<ChangeTemplate name="msg">
		<ReplaceValue value="#msgINCurrency#" mnemonic="Currency" />
	</ChangeTemplate>
	<SendMessage variable="msg">
		<Queue objName="TASK3.IN" />
		<set>
			<rfh2>
				<setStringProperty name="System" value="CRM" />
				<setStringProperty name="TypeRequest" value="#rfhTypeRequest#" />
			</rfh2>
		</set>
	</SendMessage>
	<GetWaitMessage MaxTime="10000" WaitAfterReceive="150">
		<GetMessage>
			<Queue objName="TASK3.RESP" />
			<Message variable="msgRESP">
				<rfh2map variable="map" />
			</Message>
		</GetMessage>
		<GetMessage>
			<Queue objName="TASK3.OUT" />
			<Message variable="msgOUT">
				<rfh2map variable="map2" />
			</Message>
		</GetMessage>
	</GetWaitMessage>
	<ValidateXmlDocument schemaPath="XSD/Transaction-Details.xsd"
		variable="msgOUT" />
	<ValidateXmlDocument schemaPath="XSD/Transaction-Result.xsd"
		variable="msgRESP" />
	<PutVariable name="validMsgRESP" mnemonic="StatusValidMsg"
		variable="msgRESP" value="$0" />
	<AssertEquals variable="validMsgRESP" value="[valid]"></AssertEquals>
	<AssertEquals variable="msgOUT" mnemonic="DealCurrency"
		value="#msgINCurrency#">
	</AssertEquals>	

</Test>