<?xml version="1.0" encoding="UTF-8"?>

<Test xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	description="Проверка корректности работы механизма корреляции" name="TS1"
	xsi:noNamespaceSchemaLocation="http://ctt.cinimex.ru/testSettings.xsd">

	<ClearQueue clearMethod="MQGET">
		<Queue objName="TASK4.IN" />
		<Queue objName="TASK4.OUT" />
		<Queue objName="TASK4.ERROR" />
		<Queue objName="TASK4.STORE" />
		<Queue objName="TASK4.TO.EXTERNAL.SYSTEM" />
		<Queue objName="TASK4.FROM.EXTERNAL.SYSTEM" />
	</ClearQueue>

	<GetTemplate variable="msg1" path="Templates/ex4_msg1.xml" />
	<ChangeTemplate name="msg1">
		<ReplaceValue mnemonic="Currency" value="QQQ" />
		<ReplaceValue mnemonic="DealId" value="123456" />
		<ReplaceValue mnemonic="BenifName" value="Ivanov Ivan" />
		<ReplaceValue mnemonic="PayerAccount" value="02020202020202020202" />
	</ChangeTemplate>

	<!-- Отправка первого сообщения в очередь TASK4.IN -->
	<SendMessage variable="msg1">
		<Queue objName="TASK4.IN" />
	</SendMessage>

	<GetTemplate variable="msg2" path="Templates/ex4_msg1.xml" />
	<ChangeTemplate name="msg2">
		<ReplaceValue mnemonic="Currency" value="XXX" />
		<ReplaceValue mnemonic="DealId" value="777777" />
		<ReplaceValue mnemonic="BenifName" value="Gennady Gorin" />
		<ReplaceValue mnemonic="PayerAccount" value="99999999999999999999" />
	</ChangeTemplate>

	<!-- Отправка второго сообщения в очередь TASK4.IN -->
	<SendMessage variable="msg2">
		<Queue objName="TASK4.IN" />
	</SendMessage>

	<!-- Вычитывание сообщений из очереди TASK4.TO.EXTERNAL.SYSTEM, получение 
		MQMD-заголовки CorrelationID -->
	<GetWaitMessage MaxTime="20000" WaitAfterReceive="1000">
		<GetMessage>
			<Queue objName="TASK4.TO.EXTERNAL.SYSTEM" />
			<Message variable="msgToExtSys1">
				<param value="QQQ" mnemonic="CurrencyToExtSyst" />
				<get>
					<mqmds>
						<mqmd header="correlationId" variable="correlId1" />
					</mqmds>
				</get>
			</Message>
			<Message variable="msgToExtSys2">
				<param value="XXX" mnemonic="CurrencyToExtSyst" />
				<get>
					<mqmds>
						<mqmd header="correlationId" variable="correlId2" />
					</mqmds>
				</get>
			</Message>
		</GetMessage>
	</GetWaitMessage>

	<!-- Валидация сообщения по Transaction-Ask-For-Permission.xsd -->
	<ValidateXmlDocument schemaPath="XSD/Transaction-Ask-For-Permission.xsd"
		variable="msgToExtSys1" />
	<ValidateXmlDocument schemaPath="XSD/Transaction-Ask-For-Permission.xsd"
		variable="msgToExtSys2" />

	<!-- Проверка корректности маппинга -->
	<AssertEquals variable="msgToExtSys1" mnemonic="Transaction-ID"
		value="123456" />
	<AssertEquals variable="msgToExtSys1" mnemonic="CB-Account-Payer"
		value="02020202020202020202" />
	<AssertEquals variable="msgToExtSys2" mnemonic="Transaction-ID"
		value="777777" />
	<AssertEquals variable="msgToExtSys2" mnemonic="CB-Account-Payer"
		value="99999999999999999999" />

	<!-- Проверка наличия сообщений в очереди TASK4.STORE, просмотр MQMD-заголовков 
		CorrelationID -->
	<BrowseQueue maxTime="20000" mustBe="true">
		<Queue objName="TASK4.STORE" />
		<Message variable="msgStore1">
			<mqmd header="correlationId" value="#correlId1#" />
		</Message>
		<Message variable="msgStore2">
			<mqmd header="correlationId" value="#correlId2#" />
		</Message>
	</BrowseQueue>

	<!-- Отправка ответа от внешней системы с проставленным заголовком CorrelationID -->
	<GetTemplate variable="answ"
		path="Templates/ex4_answer_from_system.xml" />
	<SendMessage variable="answ">
		<Queue objName="TASK4.FROM.EXTERNAL.SYSTEM" />
		<set>
			<mqmd header="correlationId" value="#correlId1#" />
		</set>
	</SendMessage>

	<!-- Просмотр сообщения из очереди TASK4.OUT -->
	<BrowseQueue maxTime="40000" mustBe="true">
		<Queue objName="TASK4.OUT" />
		<Message variable="msgOut">
		</Message>
	</BrowseQueue>

	<!-- Валидация сообщения по Transaction-Details.xsd -->
	<ValidateXmlDocument schemaPath="XSD/Transaction-Details.xsd"
		variable="msgOut" />
		
	<!-- Проверка корректности маппинга -->
	<AssertEquals variable="msgOut" mnemonic="AnswTransaction-ID"
		value="123456" />
	<AssertEquals variable="msgOut" mnemonic="Deal-Currecny"
		value="QQQ" />
	<AssertEquals variable="msgOut" mnemonic="Payer-Account"
		value="02020202020202020202" />
	<AssertEquals variable="msgOut" mnemonic="Beneficiary-Name"
		value="Ivanov Ivan" />
	
	<BrowseQueue maxTime="1000" mustBe="false">
		<Queue objName="TASK4.STORE" />
		<Message variable="msgStore">
			<mqmd header="correlationId" value="#correlId1#" />
		</Message>
	</BrowseQueue>

</Test>
